@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  width: 100%;
  max-width: 100vw;
  position: relative;
}

.post-content {
  --font-family: 'Courier Prime', monospace; /* Define CSS variable for post */
  font-family: var(--font-family); /* Use CSS variable */
}
a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--link-hover-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family); /* Use CSS variable */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background: var(--card-background-color);
  padding: 1rem;
  border: 1px solid #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

pre {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

#back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

#back-to-top.show {
  display: block;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  /* Removing redundant profile styles that conflict with github.css */
  /* These styles are better defined in github.css */
}

/* Fade-out animation */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 0.5s forwards;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}