form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  margin-top: 10px;
  color: var(--text-color);
}

input,
textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: var(--link-color);
  outline: none;
}

/* Use shared button styles */
button {
  margin-top: 20px;
  padding: 12px 20px; /* Increased padding */
  background-color: var(--button-background-color);
  color: white;
  border: none;
  border-radius: 8px; /* More rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  font-weight: bold; /* Bold text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added shadow */
  font-family: inherit; /* Use the font-family from the parent element */
}

button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

/* Social Links Styling */
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: filter 0.3s, transform 0.3s;
}

.social-links img.dark-mode,
.social-links img.light-mode,
.social-links img.pastel-mode,
.social-links img.eye-soothing-mode,
.social-links img.solarized-dark-mode,
.social-links img.solarized-light-mode,
.social-links img.monokai-mode,
.social-links img.dracula-mode,
.social-links img.gruvbox-dark-mode,
.social-links img.nord-mode,
.social-links img.one-dark-mode,
.social-links img.material-dark-mode,
.social-links img.material-light-mode {
  filter: var(--icon-filter);
}

@media (max-width: 600px) {
  form {
    padding: 10px;
  }

  .social-links img {
    width: 25px;
    height: 25px;
  }
}

/* reCAPTCHA Styling */
.g-recaptcha {
  margin-top: 20px;
}