---
layout: null
permalink: /rss.xml
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ metadata.description }}</description>
    <language>en-us</language>
    <lastBuildDate>{{ collections.blog | first | rss_date }}</lastBuildDate>
    {% for post in collections.blog %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ metadata.url }}{{ post.url }}</link>
      <description><![CDATA[{{ post.templateContent | safe }}]]></description>
      <pubDate>{{ post.date | rss_date }}</pubDate>
      <guid>{{ metadata.url }}{{ post.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>