---
layout: layout.njk
pagination:
  data: collections.tagsList
  size: 1
  alias: tag
permalink: /tag/{{ tag | slug }}/
title: Posts tagged with "{{ tag }}"
---

<h1>Posts tagged with "{{ tag }}"</h1>

<ul class="blog-list">
  {% for post in collections.blog | filterByTag(tag) %}
    <li class="blog-item" style="animation-delay: {{ forloop.index0 * 0.1 }}s;" onclick="handleBlogClick('{{ post.url }}')">
      <span class="blog-number"></span>
      <a href="{{ post.url }}">{{ post.data.title }}</a> - <span class="post-date" data-date="{{ post.data.date }}">{{ post.data.date | date("DDD") }}</span>
    </li>
  {% endfor %}
</ul>

<script>
    document.querySelectorAll('.blog-item a').forEach(item => {
        item.addEventListener('click', function(event) {
            event.preventDefault();
            handleBlogClick(this.href);
        });
    });

  function handleBlogClick(url) {
    const article = document.querySelector('.post-content');
    if (article) {
      article.classList.add('slide-out-left');
      setTimeout(() => {
        article.classList.remove('slide-out-left');
        article.classList.add('slide-in-right');
        window.location.href = url;
      }, 500);
    } else {
      window.location.href = url;
    }
  }

  // Assign numbering from bottom to top
  document.addEventListener('DOMContentLoaded', () => {
    const blogNumbers = document.querySelectorAll('.blog-number');
    const total = blogNumbers.length;
    blogNumbers.forEach((elem, index) => {
      elem.textContent = `${total - index}.`;
    });
  });
</script>